# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://jnkxccfshnffsq:a92f1a7a60e445a4c532bdedec61b0b853d55bd5a40ab05edddd71b118f74@ec2-44-206-137-96.compute-1.amazonaws.com:5432/dffup40antdh9"
SHADOW_DATABASE_URL="postgres://jnkxccfshnffsq:a92f1a7a60e445a4c532248ec61b0b853d55bd5a40ab05edddd71b118f74@ec2-44-206-137-96.compute-1.amazonaws.com:5432/dffup40anqdh9"