.button {
  padding: 5px;
  background-color: rgb(204, 232, 63);
  color: white;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100px;

  &.success {
    background-color: green;
    color: white;
  }

  &:hover {
    background-color: rgb(116, 229, 116);
    color: white;
  }

}